In [33]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

In [54]:
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [42]:
X = dataset.iloc[:,[1,2,3]].values
y = dataset.iloc[:, -1].values
le=LabelEncoder()
X[:,0]=le.fit_transform(X[:,0])

In [43]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [46]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [47]:
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=5,metric = 'minkowski', p = 2)
KNN.fit(x_train,y_train)
y_pred=KNN.predict(x_test)

In [49]:
metrics.confusion_matrix(y_test,y_pred)

array([[48,  4],
       [ 2, 26]], dtype=int64)

In [53]:
print('Accuracy',metrics.accuracy_score(y_test,y_pred))
print('Precision',metrics.precision_score(y_test,y_pred))
print('Recall',metrics.recall_score(y_test,y_pred))

Accuracy 0.925
Precision 0.8666666666666667
Recall 0.9285714285714286